#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}





@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.imagen {
  width: 200px; /* Cambia el valor al ancho deseado */
  height: auto;
}


form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #af4c51;
  border: none;
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
}

.form {
 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-heading {
  text-align: center;
  margin-bottom: 20px;
}

.table {
  /* background-color: #ffffff; */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
